body{
    padding: 0px;
    margin: 0px;
}

.image-placeholder{
    background-color: #eee;
    display: inline-block;
    height: 180px;
    margin: 5px;
    width: 260px;
}
.WelcomeBox{
    border: 2px solid;
    border-radius: 8px; 
    padding: 20px !important; 
    margin-left: 5em;
    margin-right: 5em; 
    margin-top: 20px; 
    margin-bottom: 20px;
} 
#titlewelcome{ 
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
    
}
#textwelcome{
    font-size: 18px;
    margin-right: 30px;
}
#pastorphoto{
    display: inline-block;
}