body{
    padding: 0px;
    margin: 0px;
}



.img-fluid{
    width: 100%;
    height: 50em !important;
    padding: 0%;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 100%; 
    height: auto;
}
.centered{
    position: absolute;
    top: 80%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px; 
    color: rgb(255, 240, 220);
}
#PastorPhoto{
    min-width: 250px;
    height: 300px;
    
}
#PastorWelcome{
    width: 150px; 
    height: 150px; 
    float: left; 
    margin-left: 40px; 
    
}
#Welcome{
    display: inline; 

} 
#WelcomeMessage{
    margin-right: 30px;
}
#titlewelcome{ 
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
    
}
#textwelcome{
    font-size: 18px;
    margin-right: 30px;
}
.WelcomeBox{
    border: 2px solid;
    border-radius: 8px;
} 
.image-placeholder{
    background-color: #eee;
    display: inline-block;
    height: 180px;
    margin: 5px;
    width: 260px;
} 

